{% extends "shop/base.html" %}
{% load currency_filters %}
{% load digits %}
{% load i18n %}

{% block title %}
  {% trans "Checkout" %}
{% endblock %}

{% block content %}
  <h1>{% trans "Checkout" %}</h1>
  <div class="order-info">
    <h3>{% trans "Your order" %}</h3>
    <ul>
      {% for item in cart %}
        <li>
          {{ item.quantity }}x {{ item.product.name }}
          <span>{{ item.total_price|currency }}</span>
        </li>
      {% endfor %}
    </ul>

    <p><strong>{% trans "Total amount" %}:</strong> {{ cart.get_total_price|currency }}</p>

    {% if cart.coupon %}
    <div style="margin-top:15px;padding:12px;background:#f7f7f7;border-radius:6px">
      <p><strong>{% trans "Coupon" %}:</strong> {{ cart.coupon.code }}</p>

      <p>
        <strong>{% trans "Discount" %}:</strong>
        - {{ cart.get_discount|currency }}
      </p>

      <p style="font-size:18px;font-weight:bold">
        <strong>{% trans "Final amount" %}:</strong>
        {{ cart.get_total_price_after_discount|currency }}
      </p>
    </div>
  {% endif %}

  </div>

  <form method="post" class="order-form">
    {% csrf_token %}
    
    {{ form.as_p }}
  
    <label>{% trans "Payment Method" %}</label>
    <select name="gateway">
      {% for key, gateway in gateways.items %}
        <option value="{{ key }}">{{ gateway.NAME }}</option>
      {% endfor %}
    </select>

    <p><input type="submit" value="{% trans 'Place order' %}"></p>
  
  </form>
  
{% endblock %}
